@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .correct {
    @apply bg-green-500 border-green-600;
  }
  .incorrect {
    @apply bg-yellow-500 border-yellow-600;
  }
  .inputLabe {
    @apply text-md pb-2 font-secondaryFont font-semibold
  }
  .input {
    @apply rounded-full text-lg font-primaryFont p-3 indent-1 placeholder-slate-400 border-indigo-300 border-2
                            focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500
                            disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none w-full
  }
  .primaryButton {
    @apply rounded-full text-xl border-slate-600 border-2 p-3 hover:bg-indigo-500 text-slate-900 w-full mb-1 disabled:pointer-events-none  hover:text-white transition-all duration-300
  }
  .loader {
      width: 50px;
      height: 24px;
      background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
          50%,
        radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
        radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
      background-size: calc(100% / 3) 12px;
      background-repeat: no-repeat;
      animation: loader 1s infinite linear;
    }
    
    @keyframes loader {
      20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
      }
      40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
      }
      60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
      }
      80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
      }
    }
}